   <div class="dashboard">
    <h2>User Data</h2>
   
    <div class="dropdown">
      <button (click)="toggleDropdown()" class="dropdown-button">
        Select Filters
      </button>
   
      <!--  Checkbox List -->
      <div class="dropdown-content" *ngIf="isDropdownOpen">
        <label *ngFor="let option of filterOptions">
          <input type="checkbox" [value]="option.key" (change)="toggleFilter($event, option.key)">
          {{ option.label }}
        </label>
      </div>
    </div>
   
    <input type="text" [(ngModel)]="searchValue" placeholder="Enter search value" />
   
      <button (click)="applySearch()">Search</button>
      <button (click)="resetSearch()">Reset</button>
    </div>
   
   
    <!-- Filters Section -->
    <div class="filters">
      <label for="state">State:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Select State'"
        [data]="states"
        [(ngModel)]="selectedState"
        [settings]="dropdownSettings"
        (onSelect)="onStateChange($event)"
        (onSelectAll)="onStateChange($event)"
        (onDeSelect)="onStateChange($event)"
        (onDeSelectAll)="onStateChange($event)">
      </ng-multiselect-dropdown>
   
      <label for="district">District:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Select District'"
        [data]="districts"
        [(ngModel)]="selectedDistrict"
        [settings]="dropdownSettings"
        (onSelect)="onDistrictChange($event)"
        (onSelectAll)="onDistrictChange($event)"
        (onDeSelect)="onDistrictChange($event)"
        (onDeSelectAll)="onDistrictChange($event)"
        [disabled]="!selectedState.length">
      </ng-multiselect-dropdown>
   
      <label for="taluka">Taluka:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Select Taluka'"
        [data]="talukas"
        [(ngModel)]="selectedTaluka"
        [settings]="dropdownSettings"
        (onSelect)="onTalukaChange($event)"
        (onSelectAll)="onTalukaChange($event)"
        (onDeSelect)="onTalukaChange($event)"
        (onDeSelectAll)="onTalukaChange($event)"
        [disabled]="!selectedDistrict.length">
      </ng-multiselect-dropdown>
   
      <label for="village">Village:</label>
      <ng-multiselect-dropdown
        [placeholder]="'Select Village'"
        [data]="villages"
        [(ngModel)]="selectedVillage"
        [settings]="dropdownSettings"
        (onSelect)="applyFilters()"
        (onSelectAll)="applyFilters()"
        (onDeSelect)="applyFilters()"
        (onDeSelectAll)="applyFilters()"
        [disabled]="!selectedTaluka.length">
      </ng-multiselect-dropdown>
   
      <button (click)="applyFilters()">Apply Filters</button>
      <button (click)="resetFilters()">Reset Filters</button>
    </div>
   
    <!-- User Table -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Address</th>
          <th>User Type</th>
          <th>State</th>
          <th>District</th>
          <th>Taluka</th>
          <th>Village</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.dob | date }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.userType }}</td>
          <td>{{ user.state }}</td>
          <td>{{ user.district }}</td>
          <td>{{ user.taluka }}</td>
          <td>{{ user.village }}</td>
          <td>
            <!-- <button (click)="editUser(user)">Edit</button> -->
            <button (click)="editUser(user.id)">Edit</button>

            <button (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
     
